body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-main {
  flex: 1; 
  overflow-y: auto; 
  padding: 10px;
  overflow-x: hidden;
}


.box {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  background-color: #f9f9f9; 
}

.box-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.box-content {
  font-size: 14px;
  color: #555;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
